@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:"Poppins",serif;
}

/* MAIN CONTAINER */
.container {
   display:flex;
   height:100vh;
   width:100%;
}

/* SIDEBAR */
.sidebar {
   width:350px;
   background-color: #074799;
   color:white;
   display:flex;
   flex-direction:column;
   padding:20px;
   border-radius:15px 0 0 15px;
   transition:all 0.3s ease-in-out;
}

.logo{
  display:flex;
  align-items:center;
  gap:10px;
}

.logo img {
   width:60px;
   height:auto;
}

.logo h2{
   font-size:25px;
   white-space:nowrap;
   color:white;
}


.sub-menu {
   margin-top:70px;
   list-style:none;
   padding:0;
}

.sub-menu li{
    margin-bottom:15px;
    margin-left:20px;
}

.sub-menu a {
   text-decoration:none;
   color:white;
   display:flex;
   align-items:center;
   gap:15px;
   padding:10px 15px;
}

.sub-menu a  {
   font-size:20px;
   font-weight:200px;
}

.sub-menu i {
   font-size:25px;
}
/* 
MAIN CONTENT */
.main-content{
  flex:1;
  padding:20px;
  background:#ffff;
  display:flex;
  flex-direction:column;
}

.header {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 10px 20px;
   margin-bottom: 20px;
   gap: 20px;
}

.search-container {
   flex:1;
   max-width:450px;
}

.search-container input {
   width:100%;
   padding:10px;
   border:1px solid black;
   border-radius:5px;
   font-size:13px;
}

.profile {
    width: 45px;
    height: 45px;
    background: #074799;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 250px;
}
.appointments-container {
   width: 1000px;
   height: 700px;
   background-color: #3674B5;
   border-radius: 30px;
   padding: 20px;
   color: white;
   font-family: "Poppins", sans-serif;
}

.appointments-container h2 {
   font-size: 24px;
   font-weight: bold;
   text-align: left;
   margin-bottom: 20px;
}

.appointments-table {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.table-header {
   display: flex;
   justify-content: space-between;
   background-color: transparent;
   font-weight: bold;
   padding: 10px 25px;
   border-bottom: 2px solid white;
   padding-right: 300px;
   gap: 100px;
}

.table-header p {
   flex: 1;
   text-align: center;
   font-size: 13px;
}

.table-row {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: white;
   border-radius: 10px;
   padding: 10px 20px;
}

.row-item {
   flex: 1;
   height: 40px;
   background-color: transparent;
   border-radius: 5px;
}

.edit-btn {
   background-color: green;
   color: white;
   border: none;
   border-radius: 20px;
   padding: 8px 15px;
   font-size: 14px;
   font-weight: bold;
   display: flex;
   align-items: center;
   gap: 5px;
   cursor: pointer;
}

.edit-btn i {
   font-size: 14px;
}


/* RESPONSIVE PART */
@media (max-width:768px) {
    .sidebar {
      width:250px;
    }
}

@media (max-width:576px) {
   .sidebar {
      position:fixed;
      top:0;
      left: -1000px;
      height:100%;
      transition: transform 0.3s ease-in-out;
   }

   @media (max-width:768px) {
      .appointments-container {
         position: absolute;
         left: 50px;
         width: 400px;
      }

   @media (max-width:576px) {
      .search-container {
         position: absolute;
         left: -1000px  ;
         width: 100%;
      
   }
}
  }
}