@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    display:flex;
    height:100vh;
    width:100%;
}

.login-info {
    flex:1;
    display:flex;
    flex-direction:column; 
    padding:20px;
}

.logo{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    gap:10px;
    width:100%;
 }
 
 .logo img {
   width:60px;
   height:auto;
 }

 .logo h2 {
   font-size:25px;
   white-space:nowrap;
}

.intro-login {
    margin-top:200px;
}

 .intro-login h2{
   position: absolute;
   left: 18%;
   text-align: center;
   color: #2F85F5;
   font-size: 30px;
   font-weight: 700;
}

.intro-login h3{
   margin-top:80px;
   position: absolute;
   left: 21%;
   color:#0F0F10;
   font-size: 25px;
   font-weight:250px;
}


.username-label,
.password-label {
    position: absolute;
    left:150px;
    color: #000000;
    font-size: 16px;
}

.username-label {
    top: 40%;
}

.password-label {
    top: 50%;
}

.username-input,
.password-input {
    position: absolute;
    left: 150px;
    width: 30%;
    height: 40px;
    background: #ffffff;
    border-radius: 5px;
    border: 2px solid #4383d5;
    padding: 10px;
    box-sizing: border-box;
}

.username-input {
    top: 43%;
}

.password-input {
    top: 53%;
}

.sign-in-button {
    position: absolute;
    left: 8%;
    top: 60%;
    background: #0d4690;
    width: 30%;
    height: 50px;
    border-radius: 5px;
    color: white;
    text-align:center;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.login-image{
    flex:1;
    background: #074799;
    display:flex;
    align-items:center;
    justify-content:center;
}

.login-picture{
    max-width:70%;
    height:auto;
}

